<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="assets/images/bg-1.jpg" alt="welcome image" class="landing-main-img">
      </div>
      <div class="col-sm-6 landing-content-section-container">
        <div class="logo-container d-inline-flex align-items-center">
          <img src="assets/images/logo.svg" alt="logo" class="logo mr-2"><b>Csv View</b>
        </div>

        <main>
            <router-outlet></router-outlet>
        </main>
        
      </div>
    </div>
</div>