
<form>
  <div class="form-group col-12 col-md-3 p-0">
    <label for="table-search">Search table:</label>
    <input id="table-search" class="form-control" type="text" [formControl]="filter"/>
  </div>
</form>

<table class="table table-striped border">
  <thead>
  <tr>
    <th scope="col" [sortable]="column.key" (sort)="onSort($event)" *ngFor="let column of rows[0] | keyvalue : originalOrder"> {{ column.key }} </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="!filteredFormattedTableData; else filteredResults">
    <tr *ngFor="let row of rows">
      <td *ngFor="let column of row | keyvalue : originalOrder">
        <ngb-highlight [ngClass]="{'text-danger': column.value === 'BLANK'}" [result]="column.value" [term]="filter.value"></ngb-highlight>
      </td>
    </tr>
  </ng-container>
  <ng-template #filteredResults>
    <tr *ngFor="let row of filteredRows">
      <td *ngFor="let column of row | keyvalue : originalOrder">
        <ngb-highlight [result]="column.value" [term]="filter.value"></ngb-highlight>
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
    <option [ngValue]="50">50 items per page</option>
    <option [ngValue]="100">100 items per page</option>
  </select>
</div>