@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import 'variables';
@import 'mixins';

h3 {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}

a {
    color: $color-primary;

    &:hover {
        color: darken($color-primary, 10%);
    }
}

.btn-lg {
    padding: 13px 20px 12px;
    font-size: 1rem;
}

.btn-primary {
    @include button-variant($color-primary, $color-primary, $white);
}

.btn-secondary {
    @include button-variant($color-secondary, $color-secondary, $white);
}

input {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    max-width: 100%;
    font-size: 13px;
    font-weight: normal;

    &::placeholder {
        color: #919aa3;
    }
}

.text-muted {
    color: #919aa3;
}

.fade-in {
    @include fadein();
}