
<h3>Sign into your account</h3>
<form action="#!" [formGroup]="loginForm">
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email address">
  </div>
  <div class="form-group mb-4">
    <label for="password" class="sr-only">Password</label>
    <input type="password" formControlName="password" name="password" class="form-control" placeholder="***********">
    <label class="text-danger">{{errorMessage}}</label>
  </div>
  <button type="submit" class="btn btn-block btn-dark" (click)="tryLogin(loginForm.value)">Login</button>
  <button type="button" class="btn btn-block btn-danger" (click)="tryGoogleLogin()">Login with Google</button>
</form>
<!-- <a href="#!" class="forgot-password-link">Forgot password?</a> -->
<p class="text-muted mt-4">Don't have an account? <a routerLink="/register">Register here</a></p>
    