@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import 'variables';

:host {
    font-family: $font-primary;
}

.text {
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    color: lighten($black, 50%);
}

a {
    transition: 0.3s all ease;
    color: $color-primary;
    &:hover,
    &:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none;
    }
}
button {
    transition: 0.3s all ease;
    &:hover,
    &:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: $font-primary;
    color: $black;
}

//COVER BG
.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

//SIDEBAR
.wrapper {
    width: 100%;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #32373d;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    .h6 {
        color: $white;
    }
    &.active {
        margin-left: -300px;
    }
    h1 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
        .logo {
            color: $white;
            display: block;
            padding: 10px 30px;
            background: $color-primary;
        }
    }
    ul {
        li {
            font-size: 16px;
            > ul {
                margin-left: 10px;
                li {
                    font-size: 14px;
                }
            }
            a {
                padding: 15px 30px;
                display: block;
                color: rgba(255, 255, 255, 0.6);
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                cursor: pointer;

                span {
                    &.notif {
                        position: relative;
                        small {
                            position: absolute;
                            top: -10px;
                            right: -10px;
                            bottom: 0;
                            width: 12px;
                            height: 12px;
                            content: "";
                            background: #ff0000ab;
                            border-radius: 50%;
                            font-family: $font-primary;
                            font-size: 9px;
                            color: $white;
                        }
                    }
                }
                &:hover {
                    color: $white;
                    background: $color-primary;
                    border-bottom: 1px solid $color-primary;
                }
            }
            &.active {
                > a {
                    background: transparent;
                    color: $white;
                    &:hover {
                        background: $color-primary;
                        border-bottom: 1px solid $color-primary;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        margin-left: -300px;
        &.active {
            margin-left: 0;
        }
    }
}

#sidebar-toggle {
    @include transition(0.3s);

    .btn {
        position: relative;
        width: 30px;
        height: 30px;
        &:before {
            position: absolute;
            top: 2px;
            left: 0;
            right: 0;
            bottom: 0;
            font-family: "FontAwesome";
            content: "\f0c9";
        }
    }

    &.active {        
        .btn {
            &:before {
                content: "\f054";
                left: 2px !important;
            }
        }
    }
}

.c-pointer {
    cursor: pointer;
}

.bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0;
    &:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: $black;
        opacity: 0.3;
    }
    .user-profile-container {
        h3 {
            color: $white;
            font-size: 18px;
        }
    }
}

.user-profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 auto;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#sidebar-collapse {
    span {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

#content-wrapper {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
}

.form-control {
    height: 40px !important;
    background: $white;
    color: $black;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: none !important;
    border: transparent;
    &:focus,
    &:active {
        border-color: $black;
    }
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.5);
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.5);
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, 0.5);
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.5);
    }
}

.subscribe-form {
    .form-control {
        background: lighten($color-primary, 5%);
    }
}
